<!-- Navbar -->

<link rel="stylesheet" href="navbar.css">

<nav class="navbar">
  <div class="navbar-left">
    <span class="bank-name">Secure Bank</span>
    <ul class="navbar-menu">
      <li><a href="../landingPage/landingPage.html">Home</a></li>
      <li><a href="../fundTransfer/fundTransfer.html">Services</a></li>
      <li><a href="../payeePage/payee.html">Add Payee</a></li>
      <li><a href="#">Resources</a></li>
      <li><a href="#">Loans</a></li>
    </ul>
  </div>
  <div class="navbar-right">

    <a href="../loginPage/login.html">
      <button class="login-btn">Login</button>
    </a>
  </div>
</nav>